<!--<div *ngIf="games.length > 0" class="carousel carousel-center bg-zinc-900 rounded-box max-w-md space-x-4 p-4">
  <div *ngFor="let game of games" class="carousel-item w-44 h-68">
    <img
      [src]="game.background_image"
      [alt]="game.name"
      class="rounded-box w-full h-full object-cover" />
  </div>
</div>
<div *ngIf="games.length === 0" class="text-white text-center p-4">
  Loading games...
</div>-->
<div class="bg-zinc-900 size-full">
  <div *ngIf="games.length > 0" class="carousel carousel-center bg-zinc-900 rounded-box p-4 w-full max-w-full mx-auto space-x-4 mb-10 mt-8 pt-16">
    <div *ngFor="let game of games" class="carousel-item w-32 h-48 sm:w-36 sm:h-52 md:w-40 md:h-56 lg:w-44 lg:h-60 xl:w-48 xl:h-64 2xl:w-52 2xl:h-68">
      <img [src]="game.background_image" class="rounded-box w-full h-full object-cover"/>
      <div class="absolute bottom-0 left-0 right-0 bg-black bg-opacity-60 text-white text-center py-2">
        {{ game.name }}
      </div>
    </div>
  </div>
  <div class="bg-zinc-900">
    <app-banner></app-banner>
  </div>
</div>
