<!--<div *ngIf="games.length > 0" class="carousel carousel-center bg-zinc-900 rounded-box max-w-md space-x-4 p-4">
  <div *ngFor="let game of games" class="carousel-item w-44 h-68">
    <img
      [src]="game.background_image"
      [alt]="game.name"
      class="rounded-box w-full h-full object-cover" />
  </div>
</div>
<div *ngIf="games.length === 0" class="text-white text-center p-4">
  Loading games...
</div>-->

<div *ngIf="games.length > 0" class="carousel carousel-center bg-zinc-900 rounded-box max-w-md space-x-4 p-4">
  <div *ngFor="let game of games" class="carousel-item w-44 h-68">
    <img
      [src]="game.background_image"
      class="rounded-box w-full h-full object-cover" />
  </div>
</div>
